.headers_container {
  background: #0a1846;
  color: #ffffff;
  width: 100%;
  height: 70vh;
}
.headers {
  max-width: 800px;
  margin: auto;
}
.header_flexs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}
.HeaderInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 70vh;
  padding: 10px;
  text-align: left;
}
.HeaderInfo h1 {
  font-size: 2rem;
}
.HeaderInfo p {
    color: #ffffff;
    padding-top: 10px;
}
@media screen and (max-width: 720px) {
  .HeaderInfo h1 {
    font-size: 1.5rem;
  }
  .HeaderInfo p {
    font-size: 15px;
  }
}
