.container {
  max-width: 1300px;
  margin: auto;
  width: 100%;
  padding-bottom: 30px;

}
.maps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  margin: 0px 10px;
  align-items: center;
  justify-content: center;


}
.map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
 
}
.mapInfo p {
  font-size: 16px;
}

.marker {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
  .maps {
    grid-template-columns: 1fr;
  }

}
