.container {
  max-width: 1200px;
  margin: auto;
  padding-top: 100px;

}
.maps {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin: 0px 10px;
  align-items: center;
  justify-content: center;


}
.map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
 
}

.marker {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
  .maps {
    grid-template-columns: 1fr;
  }

}
