.home {
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.home_pin {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}
img {
  max-width: 100%;
  object-fit: cover;
  align-self: center;
}

.pinCard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}
.pinCard p {
  font-size: 16px;
  color: #000000;
}
.paginationBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0px 10px;
}

.page-item {
  background-color: rgba(0, 0, 0, 0.85);
  list-style: none;

  padding: 0.3vmax 1.3vmax;
  transition: all 0.3s;
  cursor: pointer;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}
.page-link {
  text-decoration: none;
  font: 500 0.7vmax "Roboto";
  color: #ff4820;
  transition: all 0.3s;
  font-size: 17px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .home_pin {
    grid-template-columns: 1fr;
  }
  .pinCard p {
    font-size: 14px;
  }
}
