.container_detail {
    max-width: 1300px;
    margin: auto;
    min-height: 70vh;
    padding-top: 80px;
}
.container_detail_info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0px 10px;
}
.content_flexis img {
  max-width: 100%;
  width: 100%;
  height: 30vh;
}
@media screen and (max-width: 600px) {
    .content_flexis h2 {
        font-size: 18px;
    }
    .content_flexis p {
      font-size: 14px;
    }
  }